.footerContainer {
    width: 100%;
    height: 30vw;
    background-color: #27242f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerColumn {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.pclass {
    color: white;
}