.contact-form-wrapper {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  padding-top: 10vw;
}

.contact-form-container {
  max-width: 40vw;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .contact-form-container {
    max-width: 60%;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
  }

  button[type="submit"] {
    width: 100%;
  }
}
