

.columnsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.columnsRow {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.column {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}


